@import 'index.sass'
 
.timer
	text-align: center
	display: flex
	flex-flow: column
	align-items: center

	.clock
		font-size: 4vw
		width: 10em
		height: 10em
		box-shadow: 0 0 1.5em $black inset
		border-radius: 50%
		position: relative
		display: flex
		flex-flow: column
		align-items: center
		justify-content: center
		margin-bottom: .2em

		svg
			position: absolute
			width: 100%
			height: 100%
			transform: rotate(-90deg)
			circle 
				fill: none
				stroke: $light-blue
				stroke-width: 6.5
				stroke-dashoffset: 0
				stroke-linecap: round
				transition: all ease-in-out 0.5s

		span
			height: 75%
			width: 75%
			border-radius: 50%
			display: flex
			align-items: center
			justify-content: center
			box-shadow: 2.5px 2px 0.25em $black
			font-size: 2em
	
	.actions
		button
			font-size: 2rem
			margin: 0.5rem
			padding: 1rem
			color: $white
			background-color: $background-color
			border: 1px solid transparent
			border-radius: 5rem
			cursor: pointer
			transition: all .75s ease
			box-shadow: .2rem .2rem .5rem darken($background-color, 10), -.2rem -.2rem .5rem lighten($background-color, 5)
			&.active, &:active
				box-shadow: -.2rem -.2rem .5rem darken($background-color, 10) inset, .2rem .2rem .5rem lighten($background-color, 5) inset

			.play
				width: 0
				height: 0
				border-width: 0.5em 0 0.5em 0.8em
				margin-left: 0.2em
				border-color: transparent transparent transparent $white
				border-style: solid

			.resume
				width: 1em
				height: 1em
				position: relative
				&::before
					position: absolute
					display: block
					content: ''
					width: 0.25em
					height: 0.8em
					left: 0.1em
					top: 0.1em
					background-color: $white
				&::after
					position: absolute
					display: block
					content: ''
					right: 0.1em
					top: 0.1em
					width: 0.25em
					height: 0.8em
					background-color: $white

			.stop
				width: 1em
				height: 1em
				background: $white