$dark-blue: #0b354e;
$white: #dedede;
$warm-yellow: #f8b677;
$red: #f14268;
$blue: #294981;

body {
	background-color: $blue;
	color: $white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif
}